### Calculate

Use the cells below to make the following calculations:

1. 20 plus 30 (the code is given, just run the cell)
2. 20 minus 30
3. 20 times 30
4. 20 divided by 30
5. 20 to the power 30 (*hint*: use two asterisks: `**`)

In [1]:
# Exercise 1
20 + 30

50

In [7]:
# Exercise 2
20-30

-10

In [8]:
# Exercise 3
20*30

600

In [4]:
# Exercise 4
20/30

0.6666666666666666

In [5]:
# Exercise 5
20**30

1073741824000000000000000000000000000000

### Variables


1. Create a variable `a` and assign the value `20`, so `a = 20`
2. Create a variable `b` and assign the value `30`
3. Add `a` and `b`, the outcome should be 50
4. Multiply `a` by `b`, the outcome should be 600

In [ ]:
# Exercise 1

In [ ]:
# Exercise 2

In [ ]:
# Exercise 3

In [ ]:
# Exercise 4

### Datatypes

1. Without using the computer, write down on a piece of paper what you think the `type` is for every letter (`a` to `i`) 
2. Assign the values by running the cell below
3. Use the `type()` function to check your answers. For example, to check the first one use `type(a)`

In [ ]:
# Exercise 2 - Run this cell
a = 42 
b = "hello world"
c = 3.14
d = 100
e = "23"
f = 10 * 10
g = 10 / 10
h = [1, 2, 3]
i = {"name": "John", "age": 42, "role": "developer"}

In [ ]:
# a
type(a)

In [ ]:
# b

In [ ]:
# c

In [ ]:
# d

In [ ]:
# e

In [ ]:
# f

In [ ]:
# g

In [ ]:
# h

In [ ]:
# i

### Printing

```python
# Example
city = "Amsterdam"
country = "The Netherlands"
print(city, country)
print(city, country, sep=',')
```

The exercise:

1. Assign your first name to a variable called `first_name`
2. Assign your last name to a variable called `last_name`
3. Print your first and last name to the screen with the `print` function
3. Again print your first and last name to the screen, but this time separated by a dot (`.`) instead of a space (` `)

In [ ]:
# Exercise 1

In [ ]:
# Exercise 2

In [ ]:
# Exercise 3

In [ ]:
# Exercise 4

### Getting user input

```python
# Example
day = input("Which day is it? ")
print("Today is", day)
```

Exercises: 
1. Create a variable called `name`. Use the `input()` function to get the user's name
2. Use the variable `name` to print a greeting to the screen, like `Hello, nice to meet you John`

*Extra challenge*: print the sentence in the following format: `Hello John, how are you?`

In [ ]:
# Exercise 1

In [ ]:
# Exercise 2

In [ ]:
# Extra challenge

### Type casting

```python
# Examples
days_per_week = 7
str(days_per_week)

score = "6700"
int(score)
```

The exercise:
1. Use the `str()` function to fix the bug in the code below
2. Use the `int()` function to fix the bug in the code below

In [ ]:
# Exercise 1
number_of_moons = 79
sentence = "The total number of (known) moons for the planet Jupiter is " + number_of_moons
print(sentence)

In [ ]:
# Exercise 2
age_in_years = input("What is your age? ")
age_in_months = age_in_years * 12
print("Your age in months is: ", age_in_months)